{% extends "base.html" %}
{% load static produkttags %}
{% load sorting_tags %}
{% autosort buecher %}

{% block title %}Bibliothek{% endblock %}

{% block head %}
  {{ block.super }}
  <!-- <link rel="stylesheet" type="text/css" href="{% static 'style_buecher_alt.css' %}"> -->
{% endblock head %}

{% block content %}
<h1>Bibliothek</h1>
<form class="bib_suche" style="text-align: center;">
  {{ searchform.search }}
  <button type="submit">Suche</button>
</form>
<div style="margin: 5em;"></div>
{% if collection %}
  <h2><a href="{% url 'Bibliothek:collection' collection.parent.slug %}">{{ collection.parent.bezeichnung }}/</a>{{ collection }}</h2>
{% elif 'search' in request.GET %}
  <h2>Suche: {{ request.GET.search }}</h2>
{% endif %}
<div class="container_breit">
  {% if children %}
  <h3 style="text-align: center;">Kollektionen</h3>
  <div style="column-count: 3; column-gap: 0px;margin: 2em; border: 1px solid black;">
    <table class="collection_table">
      {% for child in children %}
      <tr>
        <td><a href="{% url 'Bibliothek:collection' child.slug %}">{{ child }}</a></td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% endif %}
<div style="margin: 3em;"></div>
{% if buecher %}
<form>
  {{ filterform }}
  <button type="submit">Filter</button>
</form>
<table class='buecher_tabelle'>
  <thead>
    <tr>
      <th style="text-align: left;">{% anchor bezeichnung "Titel" %}</th>
      <th>{% anchor autoren "Autor" %}</th>
      <th>{% anchor sprache 'Sprache' %}</th>
      <th>{% anchor jahr "Jahr" %}</th>
      <th>Verfügbarkeit</th>
      <th/><th/><th>Preis</th>
      <th/>
    </tr>
  </thead>
  <tbody>
    {% for buch in buecher %}
    <tr>
      <td class="bestellung_titel">
        <a href={% url 'Bibliothek:detail_buch' buch.slug %}>{{ buch.bezeichnung }}</a>
      </td>
      <td>
        {% for autor in buch.autoren.all %}
          <a href="{% url 'Bibliothek:liste_buecher' %}?search={{ autor.vorname }}%20{{ autor.nachname }}">{{ autor.vorname }} {{ autor.nachname }}</a><br>
        {% endfor %}
      </td>
      <td>
        {% if buch.sprache %}
          {{ buch.sprache }}
        {% endif %}
      </td>
      <td>
        {% if buch.jahr %}
          {{ buch.jahr.year }}
        {% endif %}
      </td>
      <td>
        {% for art in buch.arten_aktiv %}
          {% button_text buch art %}
        {% endfor %}
      </td>
      {% if "kaufen" in buch.arten_aktiv %}{% include "Produkte/in_den_warenkorb_inline.html" with produkt=buch art="kaufen" %}
      {% elif "druck" in buch.arten_aktiv %}{% include "Produkte/in_den_warenkorb_inline.html" with produkt=buch art="druck" %}
      {% else %}<td class="buecher_table_d"/>{% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% include "paginationsleiste.html" %}
{% endif %}
{% endblock content %}
