{% extends "base.html" %}
{% load static produkttags %}
{% load sorting_tags %}
{% autosort buecher %}

{% block title %}Bibliothek{% endblock %}

{% block head %}
  {{ block.super }}
  <!-- <link rel="stylesheet" type="text/css" href="{% static 'style_buecher_alt.css' %}"> -->
{% endblock head %}

{% block content %}
<h1>Bibliothek</h1>
<form class="bib_suche" style="text-align: center;">
  {{ searchform.search }}
  <button class="form_button" type="submit">Suche</button>
</form>
<div style="margin: 2em;"></div>
{% if collection %}
  <h2><a href="{% url 'Bibliothek:collection' collection.parent.slug %}">{{ collection.parent.bezeichnung }}/</a>{{ collection }}</h2>
{% elif 'search' in request.GET %}
  <h2>Suche: {{ request.GET.search }}</h2>
{% endif %}
<div class="container_breit">
  {% if children %}
  <h3 style="text-align: center;">Kollektionen</h3>
  <div class="collection_table">
    <ul>
      {% for child in children %}
      <li>
        <a href="{% url 'Bibliothek:collection' child.slug %}">{{ child }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
{% if buecher or request.GET.type %}
<form class="bib_filter" style="display: table;">
    <div style="display: table-cell; vertical-align: middle;">
    {{ filterform.type }}
    </div>
    <div style="display: table-cell; vertical-align: middle;">
      <button class="form_button" type="submit">Filter</button>
    </div>
</form>
<table class='buecher_tabelle'>
  <thead>
    <tr>
      <th style="text-align: left;">{% anchor bezeichnung "Titel" %}</th>
      <th>{% anchor autoren "Autor" %}</th>
      <th>{% anchor jahr "Jahr" %}</th>
      <th>Verfügbarkeit</th>
    </tr>
  </thead>
  <tbody>
    {% for buch in buecher %}
    <tr>
      <td class="bestellung_titel">
        <a href={% url 'Bibliothek:detail_buch' buch.slug %}>{{ buch.bezeichnung }}</a>
      </td>
      <td>
        {% for autor in buch.autoren.all %}
          <a href="{% url 'Bibliothek:liste_buecher' %}?search={{ autor.vorname }}%20{{ autor.nachname }}">{{ autor.vorname }} {{ autor.nachname }}</a><br>
        {% endfor %}
      </td>
      <td>
        {% if buch.jahr %}
          {{ buch.jahr.year }}
        {% endif %}
      </td>
      <td>
        <ul>
        {% for art in buch.arten_aktiv %}
          <li>{% format_text art %}</li>
        {% endfor %}
        </ul>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% include "paginationsleiste.html" %}
{% endif %}
{% endblock content %}
