{% extends "base.html" %}
{% load static produkttags %}
{% load sorting_tags %}
{% autosort buecher %}

{% block title %}Bibliothek{% endblock %}

{% block head %}
  {{ block.super }}
  <!-- <link rel="stylesheet" type="text/css" href="{% static 'style_buecher_alt.css' %}"> -->
{% endblock head %}

{% block content %}
<h1>Bibliothek</h1>
<div class="container_breit">
<form method="get">
  {{ form }}
  <button type="submit">Filter</button>
</form>
<table class='buecher_tabelle'>
  <thead>
    <tr>
      <th style="text-align: left;">{% anchor title "Titel" %}</th>
      <th>{% anchor creators "Autor" %}</th>
      <th>{% anchor language 'Sprache' %}</th>
      <th>{% anchor date "Jahr" %}</th>
    </th><th/><th/><th>Preis</th><th/>
    </tr>
  </thead>
  <tbody>
    {% for buch in buecher %}
    <tr>
      <td class="bestellung_titel">
        <a href={{ buch.data.key }}>{{ buch.data.title }}</a>
      </td>
      <td>
        {% for creator in buch.data.creators %}
          <a href="?search={{ creator.firstName}}%20{{ creator.lastName }}">{{ creator.firstName }} {{ creator.lastName }}</a><br>
        {% endfor %}
      </td>
      <td>
        {{ buch.data.language }}
      </td>
      <td>{{ buch.data.date }}</td>
      <td>
        {% for type in buch.format %}
          {{ type }}
        {% endfor %}
      </td>
      {% if "kaufen" in buch.arten_aktiv %}{% include "Produkte/in_den_warenkorb_inline.html" with produkt=buch art="kaufen" %}
      {% elif "druck" in buch.arten_aktiv %}{% include "Produkte/in_den_warenkorb_inline.html" with produkt=buch art="druck" %}
      {% else %}<td class="buecher_table_d"/>{% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% include "paginationsleiste.html" %}
{% endblock content %}
