{% extends "base.html" %}
{% load static produkttags %}

{% block content %}
  <div class="veranstaltung">
    <h1>{{ buch.data.title }}</h1>
    <div>
      {% for creator in buch.data.creators %}
        {{ creator.firstName }} {{ creator.lastName }}<br>
      {% endfor %}
    </div>
  </div>
  <div class="salon_content">
    <ul style="margin: 1em 4em; text-size: 120%;">
      {% if buch.data.ISBN %}<li> ISBN: {{ buch.data.ISBN }} </li>{% endif %}
      {% if buch.data.date %}<li> Jahr: {{ buch.data.date }} </li>{% endif %}
      {% if buch.data.language %}<li> Sprache: {{ buch.data.language }} </li>{% endif %}
      {% if buch.data.numPages %}<li> Seitenzahl: {{ buch.data.numPages }} </li>{% endif %}
      {% if buch.data.url %}<li><a href="{{ buch.data.url }}">Link</a> </li>{% endif %}
    </ul>
  </div>
{% endblock content %}
