{% load sorting_tags %}
{% autosort buecher %}
{% extends "base.html" %}
{% load static %}

{% block title %}Bibliothek{% endblock %}

{% block content %}
{% include "paginationsleiste.html" %}
  <table>
    <tr>
      <th>{% anchor titel _("Titel") %}</th>
    </tr>
  <!-- <ul style="margin: 1em 4em; text-size: 120%;"> -->
  {% for buch in buecher %}
    <tr>
      <td><a href="{% url 'Bibliothek:detail_buch' buch.slug %}">{{ buch.titel }}</a><td>
    </tr>
  {% endfor %}
  <!-- </ul> -->
{% endblock content %}
