{% load static humanize produkttags %}

{% with buch=obj %}
  {% art_aus_pk pk as art %}
  <div class="warenkorb_veranstaltung">
    <span>
      {% for autor in buch.autoren.all %}
        {% if not forloop.first %}, {% endif %}
        {{ autor }}
      {% endfor %}
    </span>
    <span>
      <a href="{% url 'Bibliothek:detail_buch' buch.slug %}">{{ buch.bezeichnung }}</a>
    </span>
    <span>
      {% format_text art %}
      {% if art == 'leihen' %}
        für 1 Monat. Jede weitere Woche: 2 Guthaben
      {% endif %}
    </span>
    <form action="{% url 'Produkte:cart-remove' %}" method="post">
    	{% csrf_token %}
      <input type="hidden" name="pk" value={{ pk }}>
      <input type="submit" value="Entfernen">
    </form>
  </div>
{% endwith %}
